---
layout: newsfrontlayout
---


<div class="uk-section">

<article class="uk-article">
<div class="uk-container" style="text-align:center;">
    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ page.title }}</a></h1>

    <p class="uk-article-meta">Αναρτήθηκε απο την <a href="#">Γραμματεία ΙΕΚ ΔΥΠΑ Κομοτηνής</a> <p class="uk-text-meta">Ημερομηνία Δημοσίευσης: {{page.date | date: '%d/%m/%Y'}} </p> 
	<hr>
	  </div>
	<div class="uk-section"><p class="uk-position-center"> {{ content }} </p> </div>

</article>

</div>

